body {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    height: 500px;
}

section, footer {
    text-align: center;
}

ul {
    list-style: none;
}

@media screen and (max-width: 500px) {
    .logo img {
        height: 160px;
    }
}

/* Medium and up */
@media screen and (min-width: 500px) and (max-width: 800px) {
    .logo img {
        height: 320px;
    }
}